.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.md
/.vscode
/coverage
/generator_stats
# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
static/_instances/*